:root {
  --primary: rgb(17, 17, 17);
  --gray-1: rgb(119, 119, 119);
  --gray-2: #efefef;
  --font-family: "Quicksand", sans-serif;
  --text-color: #282828;
  --favoris: rgb(194 157 101);
  --spinner-size: 35px;
}
