.notFound {
  min-height: 100vh;
  font-size: 4rem;
  font-weight: bold;
  font-family: var(--font-family);
  span {
    letter-spacing: 10px;
  }
  a {
    color: var(--primary);
    text-decoration: none;
  }
}
